---
- name: Alert if ludus_elastic_enrollment_token is not set
  ansible.builtin.debug:
    msg: "ludus_elastic_enrollment_token is not set. Attempting to get one automatically."
  when: ludus_elastic_enrollment_token == ""

- name: Get an enrollment token automatically
  ansible.builtin.include_tasks:
    file: get_token.yml
  when: ludus_elastic_enrollment_token == ""

- name: Alert if ludus_elastic_fleet_server is not set
  ansible.builtin.debug:
    msg: "ludus_elastic_fleet_server is not set. Attempting to set it automatically."
  when: ludus_elastic_fleet_server == ""

- name: Get an enrollment token automatically
  ansible.builtin.include_tasks:
    file: get_fleet_server.yml
  when: ludus_elastic_fleet_server == ""

- name: Setup Elastic agent on a Windows machine
  ansible.builtin.include_tasks:
    file: windows.yml
  when: ansible_os_family == "Windows"

- name: Setup Elastic agent on a Debian/RedHat based machine
  ansible.builtin.include_tasks:
    file: linux.yml
  when: ansible_os_family == 'Debian' or ansible_distribution == 'Ubuntu' or ansible_os_family == 'RedHat'

- name: Tell the user to check the Kibana Dashboard
  ansible.builtin.debug:
    msg: "Check the Kibana Dashboard for the status of the Elastic agent!"
